#navigation-bar { 
    
    min-height: 40px;
    height: 40px;
    background-color: rgb(94, 145, 200);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
   
}
.artwork {
    width: 100%;
    height: auto;
}
* {
   
    font-family: Helvetica;

}
.picture2 {
    width:50%;
    Height:100%;
    
}
.t1 {
    width: 48%;
    height: 100%;
}
.logo1{
    width: 60px;
    height: 50px;
}
.logo2{
    width: 50px;
    height: 50px;
}
.logo3{
    width: 50px;
    height: 50px;
}
.logo4{
    width: 50px;
    height: 50px;
}
.foot-bar {
    min-height: 50px;
    height: 50px;
    background-color: rgb(94, 145, 200);
    display: flex;
    text-align: left;
    justify-content: flex-end;
    
}
#p1 {
    display: flex;
    text-align: left;
    justify-content: space-between;

}

#input {
    display: flex;
    width: 150px;
    height: 50px;
    color:rgb(94, 145, 200);
    
}